@import '@fontsource/fira-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'AmplitudeWide';
    src: url('./static/AmplitudeWide-Regular\ Regular.ttf');
}

@font-face {
    font-family: 'AmplitudeWideBook';
    src: url('./static/amplitudewide-book.ttf');
}

@font-face {
    font-family: 'AmplitudeWideMedium';
    src: url('./static/amplitudewide-medium.ttf');
}

